#trash {
	color: grey;
}

#trash:hover {
	color: red;
}

.onhover:hover {
	text-decoration: underline;
}

.clickable:hover {
	cursor: pointer;
}

.imgboxshadow:hover {
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}