{% extends 'app_uniplan/base.html' %}

{% block content %}
<h1>You're currently enrolled in:</h1>
<ul>
	{% comment %} This sorts your units into a list of enrollments grouped by semester {% endcomment %}
		{% regroup enrollments by semester as enrollments_list %}
		{% for semester in enrollments_list %}
		<li><b>{{ semester.grouper }}:</b></li>
		<ul>
			{% for enrollment in semester.list %}
				<li><a href="{{enrollment.unit.unit_code}}">{{enrollment.unit}}</a></li>
			{% endfor %}
		</ul>
		{% endfor %}
</ul>

Here are all the units currently registered for {{ user.student_profile.university }}: {{ user.student_profile.course }}
<br>
{% for unit in units %}

<a href="{{unit.unit_code}}">{{unit.unit_code}}: {{ unit.name }}</a>
<br>

{% endfor %}



<form method=POST>
	{% csrf_token %}
	{{ unit_form.as_p }}
	<button type="submit">Create Unit</button>
</form>

{% endblock %}