{% extends 'app_uniplan/base.html' %}

{% block content %}


<div class="container">
	{% comment %} row of 3 widgets {% endcomment %}
	<div class="row mb-4">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h3>Upcoming Assignments</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h3>This semesters units:</h3>
					</div>
					<div class="card-body">
						{% for units in currentenrollments %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h3>Current WAM: {{WAM}}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% comment %} row containing weeks view {% endcomment %}
	<div class="row">
		
	</div>

{% endblock %}