{% extends 'app_uniplan/base.html' %}

{% block title %}Unit Sequences{% endblock %}


{% block content %}

<h1>Explore Majors, Minors, and your Course's Core Sequences</h1>


<h2>Majors</h2>
{% for course in courses %}
	<h3>{{course.course_name}}</h3>
		{% for major in majors %}
			<li>{{major.title}}</a></li>
			{% comment %} Create a expandable list of the units in this major sequence {% endcomment %}
			{% for unit in major_sequences %}
					<ul>
						<li>{{unit}}</li>
					</ul>
			{% endfor %}
		{% endfor %}

{% endfor %}


<h2>Are we missing your major/minor? Add it now!</h2>

<form method=POST style=".table">
	{% csrf_token %}
	{{ form.as_p }}

{% endblock %}